#{{ ansible_managed }}
#{{ item.name }} configuration file
{% if item.letsencrypt is defined %}
: RSA /etc/letsencrypt/live/{{ inventory_hostname }}/privkey.pem
{% endif %}
{% if item.ssl_key is defined %}
: RSA {{ item.ssl_key  }}
{% endif %}

# EAP Users
{% if item.users is defined %}
{% for u in item.users %}
{{ u.name }} : EAP "{{ u.password }}"
{% endfor %}
{% endif %}
